<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Inserir Tarefa</title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Bem-vindo ao ToDoListIF</h1>
       
        <h2>Escolha uma opção:</h2>
        <button type="button" onclick="window.location.href='/list'">Ver todas as suas Tarefas</button>
        <br> <br>
        <button type="button" onclick="window.location.href='/insert'">Registrar uma nova Tarefa</button>
        <br> <br>
        <button type="button" onclick="window.location.href='/deletePorTitulo'">Excluir uma Tarefa pelo Título</button>

    </body>
</html>
<!--
window.location.href ->
window é um objeto que representa a janela do navegador
location é uma propriedade que contém informações sobre a URL atual da página e permite redirecionar para outra URL(ou seja, outro path).
window.location.href é uma propriedade que representa a URL completa da página atual. 
exemplo: se a URL atual for "http://localhost:8080/list", então window.location.href terá o valor "http://localhost:8080/list".
Ao atribuir um novo valor a window.location.href, você está redirecionando o navegador para essa nova URL.

-->
